:root {
   /* Fonts */
   --main-font: "Roboto";
   --secondary-font: "Raleway";

   /* Text colors */
   --primary-white-color: #FFFFFF;
   --primary-black-color: #212121;
   --accent-color: #2196F3;
   --upper-title-text: #757575;
   /* Bg colors */
   --primary-background-color: #E5E5E5;
   --secondary-background-color: #F5F4FA;

/* Other */
   --items: 4;
   --indent: 30px;
}

body {
   font-family: var(--main-font), sans-serif;
   font-size: 14px;
   letter-spacing: 0.03em;
   color: var(--primary-black-color);
   background-color: var(--primary-white-color);
}
  
*,
*::before,
*::after {
   box-sizing: border-box;
}

/* reset */
h1,
h2,
h3,
h4,
h5,
h6,
p {
   margin: 0;

}

img {
   display: block;
   max-width: 100%;
   height: auto;
}

/* Common styles start */
.section {
   padding-top: 94px;
   padding-bottom: 94px;
}

.container {
   width: 1200px;
   margin-left: auto;
   margin-right: auto;
   padding-left: 15px;
   padding-right: 15px;
}

.list {
   list-style: none;
   padding: 0;
   margin: 0;
}

.link {
   text-decoration: none;
}

/* Header */
.header {
   border-bottom: 1px solid #ECECEC;
}

.header-container,
.header-nav {
   display: flex;
   align-items: center;
}

.header-list-item:not(:last-child) {
   margin-right: 40px;
}

/* Logo */
.logo {
   font-family: var(--secondary-font), sans-serif;
   color: var(--accent-color);
   font-weight: 700;
   font-size: 26px;
   line-height: 1.19;
}

.logo-studio-light {
   color: #000000;
}

.logo-studio-dark {
   color: var(--primary-white-color);
}

/* Site nav */

.site-nav {
   margin-left: 93px;

   display: flex;
   align-items: center;
}

.site-nav .item {
   margin-left: 50px;
}

.site-nav .item:last-child {
   margin-right: 0;
}

.site-nav .link {
   display: block;
   padding-top: 32px;
   padding-bottom: 32px;
   color: var(--primary-black-color);
   font-weight: 500;
   line-height: 1.14;
   letter-spacing: 0.02em;
   text-decoration: none;
}

.site-nav .link:hover, 
.site-nav .link:focus {
   color: var(--accent-color);
}

.site-nav .link.current {
   color: var(--accent-color);
}

.aut-nav {
   margin-left: auto;
   display: flex;
   align-items: center;
}

.aut-nav .item + .item {
   margin-left: 50px;
}

.aut-nav .current {
   padding-top: 32px;
   padding-bottom: 32px;

   color: var(--upper-title-text);
   font-weight: 500;
   line-height: 1.14;
   letter-spacing: 0.02em;
   text-decoration: none;
}

.aut-nav .link:hover,
.aut-nav .link:focus {
   color: var(--accent-color);
}

/* Hero */
.hero {
   background-color: #2F303A;
   text-align: center;
   padding: 200px 0;
}

.hero-title {
   margin: 0 auto;
   margin-bottom: 30px;
   width: 696px;
   color: var(--primary-white-color);
   font-weight: 900;
   font-size: 44px;
   line-height: 1.36;
   letter-spacing: 0.06em;
   text-transform: uppercase;
}

/* Section */

.section-about {
   padding-top: 0;
}

.section-features {
   padding-top: 89px;
}

.section-team {
   background-color: var(--secondary-background-color);
}

.section-title {
   padding-top: 0;
   margin-top: 0px;
   margin-bottom: 50px;
   color: var(--title-text-color);
   font-weight: 700;
   font-size: 36px;
   line-height: 1.16;
   text-align: center;
}

.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
}


/* Features */
.features {
   display: flex;
}
.features .item {
   margin-right: 30px;
   width: 270px;
}
.features .item:last-child {
   margin-right: 0;
}

.features .title {
   margin-bottom: 10px;
   color: var(--primary-black-c);
   text-transform: uppercase;
   font-weight: 700;
   font-size: 14px;
   line-height: 1.14;
}

.features .text {
   color: var(--upper-title-text);
   line-height: 1.71;
}
/* About */

.work-list {
   display: flex;
   justify-content: space-between;
}
.work-list .item:not(:last-child) {
   margin-right: 30px;
}

/* Team */
.user-list {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;

}

.user-list .item {
   margin-right: 30px;
   background-color: #FFFFFF;
   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
   border-radius: 0px 0px 4px 4px;
}

.user-list .item:last-child {
   margin-right: 0;
}

/* Button */
.button {
   display: inline-block;
   border-radius: 4px;
   padding: 10px 32px;
   min-width: 200px;
   font-family: var(--main-font);
   color: var(--primary-white-color);
   background-color: var(--accent-color);
   font-size: 16px;
   font-weight: 700;
   line-height: 1.88;
   border: none;
   text-decoration: none;
   text-align: center;
   letter-spacing: 0.06em;
   cursor: pointer;
}

.button:hover,
.button:focus {
   background-color: #188CE8;
}
/* Filters */
.filters-list {
   display: flex;
   margin-bottom: 50px;
   justify-content: center;
}

.filters-list .item {
   margin-right: 8px;
}
.filters-list .item:last-child {
   margin-right: 0;
}

.filters-button {
   display: inline-block;
   border-radius: 4px;
   padding: 6px 22px;

   font-family: var(--main-font);
   font-weight: 500;
   line-height: 1.62;
   border: none;
   font-size: 16px;
   text-align: center;
   letter-spacing: 0.03em;

   background-color: var(--secondary-background-color);
   color: var(--primary-black-color);
   cursor: pointer;
}

.filters-button:hover,
.filters-button:focus {
   background-color: var(--accent-color);
   color: var(--primary-white-color);
}

/* User */

.user-list .title {
   margin-bottom: 10px;
   color: var(--primary-black-color);
   font-weight: 500;
   font-size: 16px;
   line-height: 1.18;
   text-align: center;
}
.user-list .text {
   color: var(--upper-title-text);
   font-weight: 400;
   font-size: 16px;
   line-height: 1.18;
   text-align: center;
}
.user-list-text {
   padding-top: 30px;
   padding-bottom: 30px;
}

/* Footer */
.footer {
   background-color: #2F303A;
   padding: 60px 0;
}

.footer .logo {

}

.footer-address {
   margin-top: 20px;
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 1.71;
}

.footer-address .item:not(:last-child) {
   margin-bottom: 9px;
}





.footer-address-link {
   color: var(--primary-white-color);
   font-weight: 400;
   font-size: 14px;
   line-height: 1.71;

}
.footer-address-link:hover,
.footer-address-link:focus {
   color: var(--accent-color);
}


.aut-address {
   color: rgba(255, 255, 255, 0.6);
   margin-bottom: 9px;
}

.aut-address:hover,
.aut-address:focus {
   color: var(--accent-color);
}

/* Portfolio */
.portfolio {
   padding-top: 94px;
   padding-bottom: 94px;
}

/* Project */
.project {
   display: flex;
   flex-wrap: wrap;
}
.project-list {
   width: 370px;
   margin-right: 30px;
   margin-bottom: 30px;
}

.project-list:nth-child(3n) {
   margin-right: 0;
}

.project-list:nth-last-child(-n+3) {
   margin-bottom: 0;
}

.project-text {
   margin-bottom: 4px;
   color: var(--primary-black-color);
   font-weight: 700;
   font-size: 18px;
   line-height: 2;
   letter-spacing: 0.06em;
}
.project-uppertitle {
   color: var(--upper-title-text);
   font-size: 16px;
   font-weight: 400;
   line-height: 1.87;
}
.project-list-text {
   padding: 20px 24px;
   border: 1px solid #EEEEEE;
   border-top: none;
}































